[Unit]
Description=camera-streamer libcamera
After=network.target
ConditionPathExists=/etc/octopi_streamer/mjpeg
StartLimitIntervalSec=120
StartLimitBurst=10

[Service]
EnvironmentFile=/boot/camera-streamer/libcamera.conf
ExecCondition=/bin/sh -c "/usr/bin/libcamera-hello --list-cameras | grep -o '/base/soc/[^)]*'"
ExecCondition=/bin/sh -c "! ss -ltn src :$PORT | grep -q LISTEN"
ExecStart=/bin/sh -c "exec /usr/bin/camera-streamer \
  -http-port=${PORT} \
  -camera-type=libcamera \
  -camera-path=$(/usr/bin/libcamera-hello --list-cameras | grep -o '/base/soc/[^)]*' | head -n1) \
  -camera-format=YUYV \
  -camera-width=${WIDTH} -camera-height=${HEIGHT} \
  -camera-video.height=${VIDEO_HEIGHT} \
  -camera-snapshot.height=${SNAPSHOT_HEIGHT} \
  -camera-fps=${FRAMERATE} \
  -camera-nbufs=2 \
  ${OPTIONS}"

DynamicUser=yes
SupplementaryGroups=video i2c
Restart=always
RestartSec=10
Nice=10
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUWeight=20
AllowedCPUs=1-2
MemoryMax=250M

[Install]
WantedBy=multi-user.target
