[Unit]
Description=camera-streamer usb
After=network.target
ConditionPathExistsGlob=/dev/v4l/by-id/usb-*-video-index0
ConditionPathExistsGlob=!/sys/bus/i2c/drivers/*/*/video4linux

[Service]
EnvironmentFile=/boot/camera-streamer.conf
ExecStart=/usr/local/bin/camera-streamer \
  -camera-format=${USB_FORMAT} \
  -camera-width=${USB_WIDTH} -camera-height=${USB_HEIGHT} \
  -camera-fps=${USB_FRAMERATE} \
  -camera-nbufs=2 \
  -camera-high_res_factor=1 \
  -camera-low_res_factor=2 \
  ${USB_OPTIONS}

DynamicUser=yes
SupplementaryGroups=video i2c
Restart=always
RestartSec=10
Nice=10
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUWeight=20
AllowedCPUs=1-2
MemoryMax=250M

[Install]
WantedBy=multi-user.target
