[Unit]
Description=camera-streamer
After=network.target
ConditionPathExists=/etc/octopi_streamer/mjpeg

[Service]
Type=oneshot
ExecStart=/root/bin/camera-streamer-control start
ExecStop=/root/bin/camera-streamer-control stop
ExecReload=/root/bin/camera-streamer-control restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
