[Unit]
Description=camera-streamer
After=network.target
ConditionPathExists=/etc/octopi_streamer/mjpeg

[Service]
Type=oneshot
ExecStart=/usr/local/bin/camera-streamer-control start
ExecStop=/usr/local/bin/camera-streamer-control stop
ExecReload=/usr/local/bin/camera-streamer-control restart
RemainAfterExit=yes
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
